@import "reset.css";
@import "variables.css";
@import "navbar.css";
@import "footer.css";
@import "hero.css";
@import "features.css";
@import "footer.css";

/* font-family: "DM Serif Display", serif;
font-family: "Montserrat", sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Prosto One", cursive; */
