* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.plate-wrapper img {
  width: 150px;
  height: auto;
  padding: 1rem 0;
}

.hero {
  /* color: #fff;
  padding: 2rem 0;*/
  text-align: center; 
  position: relative;
  padding: 1rem 0;
}

.plate-circle {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transform: translate(0, -75%);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  widt: 100%;
}

.hero-titulo {
  font-size: 3rem;
  text-align: center;
  max-width: 400px;
  color: var(--black-color);
}

.hero-button {
  background-color: var(--black-color);
  color: #fff;
  padding: 1em 3em;
  border-radius: 30px;
  width: fit-content;
}

.left-floating {
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(25deg) translate(0, 50%);
}

.right-floating {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: rotate(-15deg) translate( 10%, 30%);
}

.logo-bar {
   position: absolute;
   top: 0;
}